/*Global*/
body {
    background-color: #f4f4f4;
    color: #555;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

/*Box 1*/

.box-1 {
    background-color: #333;
    color: #fff;
    border: 5px red solid;
    padding: 20px;
    margin: 20px 0;
}

.box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

/*Box 2*/

.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}